# Database PostgreSQL
POSTGRES_DB=chatbot_shop
POSTGRES_USER=postgres
POSTGRES_PASSWORD=YourStrongPasswordHere123

# Zalo Official Account Integration
ZALO_APP_ID=
ZALO_APP_SECRET=
ZALO_OA_SECRET_KEY=
ZALO_OA_ACCESS_TOKEN=

# Web Port
WEB_PORT=80

# Domain Name (for Nginx & SSL)
DOMAIN_NAME=yourdomain.com
